/* input样式 */

/* .ivu-input {
    background: rgba(45, 140, 240, 0);
    border: 1px solid #5D90BB;
    color: #fff;
} */

.ivu-form-item {
    margin-bottom: 16px;
}

.ivu-input{
    background-color: transparent;
    color: #ccc;
}
.ivu-select-selected-value{
    color: #ccc;
}
/* 按钮样式 */

/* .ivu-btn-dashed {
    background: rgba(45, 140, 240, 0);
    border: 1px solid #5d90bb;
}

.ivu-btn-ghost:hover {
    background-color: #5d90bb;
    color: #fff;
} */

/* modal样式 */

.ivu-modal {
    /* padding: 50px; */
    /* background-image: url('../svg/') */
}
.ivu-modal-body .ivu-form .ivu-form-item-label {
    color: black;
  }
/* .ivu-select-selected-value {
    color: black;
} */

/* 验证提示信息的样式 */

.ivu-form-item-error-tip {
    padding-top: 1px;
}

/* table */
.ivu-table{
    background: transparent;
    color: #ccc;
}
.ivu-table td{
    background: transparent;
}
.ivu-table .demo-table-info-row td {
    background-color: rgba(23,29,37);
    color: #ccc;
}

.ivu-table-header th {
    background-color: rgba(23,29,37);
    color: #ccc;
}

.ivu-table-border td,
.ivu-table-border th {
    border-right:none;
}

.ivu-table-wrapper {
    border:none;
    border-bottom: 0;
    margin-bottom: 15px;
}
.ivu-table-tip {
    overflow-x: hidden;
}

.ivu-table td,
.ivu-table th {
    border-bottom: none;
}

.ivu-table::before {
    background-color: transparent;
}
.table .ivu-table-header{
    display: none;
}
.ivu-table::after {
    background-color: transparent;
}

.ivu-table-body {
    overflow-x: hidden;
    overflow-y: auto;
    /* overflow: auto; */
}

.ivu-table-tip table td {
    background-color: rgba(18, 62, 101);
    color: #E4E5E5;
}
.ivu-select-single .ivu-select-selection{
    background: rgba(45, 140, 240, 0);
    border: 1px solid #CCC;
    /* color: white; */
}
.ivu-page{
    padding-top: 3px;
    float: right;
    margin-right: 20px;
}
a {
  color: #fff;
}
.ivu-table-cell a {
  color: #495060;
}


.ivu-page-next, .ivu-page-prev{
    background-color: transparent;
}
.ivu-page-item{
    background-color: transparent;
}

.ivu-page-options-elevator input{
    background-color: transparent;
}
.ivu-layout-sider{
    min-width:128px;
    max-width: 120px;
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu), .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title-active:not(.ivu-menu-submenu) {
    padding-right: 2px;
}
.vulndetail .ivu-collapse-content{
    background: transparent;
    color: #fbfbfb;
}
.vulndetail  .ivu-collapse{
    border: none;
}
.vulndetail  .ivu-collapse>.ivu-collapse-item>.ivu-collapse-header{
    color: #fbfbfb;
    font-size: 16px;
    font-weight: bold;
}
.vulndetail .ivu-collapse>.ivu-collapse-item{
    border: none;
}
.ivu-upload-list {
    margin-bottom: 8px;
}
.ivu-upload-list-file {
    color: #fff
}
.ivu-upload-list-file>span>i {
    color: #fff
}
/* top10排行榜样式 header*/

 .holeList {
    width: 100%;
    height: 100%;
  }
  .holeList ul {
    width: 100%;
    height: auto;
    border: 1px solid #21262f;
  }
  .holeList ul li {
    list-style-type: none;
    height: 23px;
    font-size: 12px;
    line-height: 23px;
    border-bottom: 1px solid #21262f;
  }
  .holeList ul li:nth-child(12) {
    border: none;
  }
  .holeList ul li span {
    width: 30%;
    text-align: center;
  }
  .holeList ul li span img {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
  }
  .listOne {
    display: inline-block;
    width: 100%;
  }
  /* top10排行榜样式 end*/
  .logs .ivu-card{
      background: transparent;
  }
  .logs .ivu-card-head{
    border-bottom:none;
  }
  .logs .ivu-card-head p, .ivu-card-head-inner{
      color: #fbfbfb;
  }
  .logs .ivu-card-bordered{
      border:none;
  }
  .homepage .ivu-table-cell{
   padding-right:10px;
   padding-left:10px;
  }
  .homepage #noheader .ivu-table-header{
    display: none;
}
.ivu-menu-vertical .ivu-menu-item, .ivu-menu-vertical .ivu-menu-submenu-title {
    padding: 14px 10px; 
}
.collapsed-menu .ivu-menu-opened>*>.ivu-menu-submenu-title-icon {
    display: none;
}
.collapsed-menu .ivu-menu-submenu-title-icon {
    display: none;
}

fl {float:left;}
.fr {	float:right;}
.none{	display:none;}

.inrow{font-size:0;font-size:12px;*font-size:0;font-family:arial;letter-spacing:-3px;*letter-spacing:normal;*word-spacing:-1px;} 
.inrow>li,.inrow span{display:inline-block;*display:inline;*zoom:1;font-size:14px;letter-spacing:normal;word-spacing:normal; }
.dataNums{ display: block; width:100%; height:75px; text-align:center;}
.dataNums .dataOne{ width:50px; height:59px; margin: 0px 3px; text-align: center;
     background: url("../num.png") no-repeat 0 0;background-size: contain;}
.dataNums .dataBoc {position: relative; width: 100%; height: 100%; overflow: hidden;}
.dataNums .dataBoc .tt {position: absolute; top: 0;  left: 0; width: 100%;  height: 100%;}
.dataNums .tt span{width:100%;height:100%; font:bold 40px/70px "Arial";color:#ddf0ff;line-height: 60px;} 
.whole .ivu-card-body{
 height: 300px;
}