/* input样式 */

.ivu-input {
    background: rgba(45, 140, 240, 0);
    border: 1px solid #5D90BB;
    color: #fff;
}

/* 按钮样式 */

.ivu-btn-ghost {
    background: rgba(45, 140, 240, 0);
    border: 1px solid #5d90bb;
}

.ivu-btn-ghost:hover {
    background-color: #5d90bb;
    color: #fff;
}
/* modal样式 */
.ivu-modal {
    /* padding: 50px; */
    /* background-image: url('../svg/') */
}
.ivu-form-item-error-tip{
padding-top: 1px;
}
.ivu-form-item{
    margin-bottom: 16px;
}